/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
	padding-top: 40px;
}

.alert {
	margin-top: 10px;
}


#comments { overflow: hidden; margin-top: 30px; }
.comment { background-color: #ffffff; margin-bottom: 20px; min-height: 60px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;}
.comment .avatar { float: left;  padding: 6px 0 0 10px;} 
.comment .avatar img { border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;}
.comment .commentbody { width: 90%; padding: 6px 0 6px 80px; font-size: 12px;}
.comment .commenthead { margin-bottom: 10px; font-size: 11px; }
.comment a { font-size: 11px; }
.comment .commenthead span { padding-left: 10px; }
.fullwidth { width: 95%; height: 100px; margin-bottom: 10px; }
#comment .signin { font-size: 12px; background-color: #cccccc; padding: 15px; text-align: center; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;}
#comment .signin a { font-weight: bold; color: #c81419;}
#comment .newcomment { margin-top: 40px; background-color: #cccccc !important; }


.stars * { margin: 0; padding: 0; list-style: none; }
.stars { height: 25px; width: 125px; background: url('star.png') left top repeat-x; }
.stars .yellowstars { height: 25px; width: 0px; background: url('star.png') left repeat-x; } 
.stars .text { text-align: right; font-size: 10px; }
.floatstars { float: right; }

#ratingbox { background-color: #cccccc; width: 250px; padding: 10px; margin: 40px 0 50px 0; font-size: 12px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
#ratingbox ul { background-color: #dddddd; padding: 10px 0; margin: 0 0 10px 0; list-style: none; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
#ratingbuttons li { padding: 0 10px 0 10px; margin: 0; font-size: 12px; text-align: left; }
#ratingbuttons li span { margin-left: 10px; }
#rating_submit { margin: 10px;}
#ratingbox .center { text-align: center; }